<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <%= javascript_include_tag "/assets/javascripts/infinite-scroll.js" %>
  <title>Metube</title>
</head>

<body id="metube-body">


<div id="metube-header">
  <div id="left-icons">
    <span class="glyphicon glyphicon-align-justify"></span>
    <%= image_tag('metube-logo', :class => "rec-icon") %>
    <h2>Metube</h2>
  </div>
  <div id="search-bar">
    <div class="input-group input-group-lg">
      <input type="text" id="search-box" class="form-control" aria-describedby="sizing-addon1">
      <span class="input-group-addon glyphicon glyphicon-search"></span>
    </div>
  </div>
  <div id="right-icons">
    <span class="glyphicon glyphicon-user"></span>
    <span class="glyphicon glyphicon-bell"></span>
    <span class="glyphicon glyphicon-comment"></span>
    <span class="glyphicon glyphicon-th"></span>
    <span class="glyphicon glyphicon-facetime-video"></span>
  </div>
  <div class="clear"></div>
</div>

<div id="metube-content">
  <div id="content-container">
    <div id="ad-box">

    </div>
    <div id="recommended-box">
      <% for i in 1..10 %>
        <div class="rec-video">
          <%= image_tag('170x100placeholder.png', :class => "rec-icon") %>
            <div class="rec-video-info">
              <h5 class="tittle">Dank Video</h5>
              <span class="username"><%= Faker::HarryPotter.character %></span>
              <span class="views"><%= rand(100..1000)%>k views</span>
              <% if rand() > 0.7 %>
               <span class="label label-default">New</span>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
    <div id="video-box">
      <iframe width="100%" height="480" src="https://www.youtube.com/embed/<%= @player.id%>" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div id="video-info-box">
      <h2><%= Faker::Lorem.sentence(rand(2..7)) %></h2>
      <div id="video-info-options">
        <div class="left-options">
          <h5>102,109 views</h5>
        </div>
        <div class="right-options">
          <div class="video-likes">
            <span class="glyphicon glyphicon-thumbs-up"></span><span class="count"><%= rand(1..100) %></span>
            <span class="glyphicon glyphicon-thumbs-down"></span>
          </div>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
          <span class="glyphicon glyphicon-share-alt"></span>
          <span class="glyphicon glyphicon-option-horizontal"></span>

        </div>
        <div class="clear">

        </div>
      </div>
      <p><%= Faker::Lorem.sentence(rand(14..150)) %></p>
    </div>
    <div id="metube-comments">
      <%= render "metube/comment" %>
      <div id="loader-box">
      </div>
    </div>
    <div class="clear">
    </div>
  </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>