<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Eddit</title>
</head>

<body id="eddit-body">
<div id="eddit-headbox">
  <div id="subeddit-box">
    <div class="input-group-btn select" id="subeddit-select-wrapper">
      <button type="button" class="btn btn-xs dropdown-toggle" id="subeddit-select" data-toggle="dropdown" aria-expanded="false">
        <span class="selected">My Subeddits</span> <span class="caret"></span></button>
      <ul class="dropdown-menu option" role="menu">
        <li id="1"><a href="#">Edit Subscriptions</a></li>
      </ul>
    </div>
    <nav>
      <a>POPULAR</a>
      <a>ALL</a>
      <a>RANDOM</a>
      <a>ASKEDDIT</a>
      <a>VIDEOS</a>
      <a>FUNNY</a>
      <a>TODAYILEARNED</a>
      <a>PICS</a>
      <a>GAMING</a>
      <a>MOVIES</a>
      <a>NEWS</a>
      <a>GIFTS</a>
      <a>MILDLYINTERESTING</a>
      <a>AWW</a>
      <a>SHOWERTHOUGHTS</a>
      <a>TELEVISION</a>
      <a>JOKES</a>
      <a>SCIENCE</a>
      <a>OLDSCHOOLCOOL</a>
      <a>SPORTS</a>
      <a>IMA</a>
      <a>MEMES4LYFE</a>
    </nav>
    <span id="more">MORE >></span>
  </div>
  <div id="head-nav">
    <%= image_tag('eddit-logo') %>
    <nav >
      <a>hot</a>
      <a>new</a>
      <a>rising</a>
      <a>controversial</a>
      <a>top</a>
    </nav>
    <div id="please-sign-up">
      Want to join? Log in or sign up in seconds | English
    </div>
  </div>
  <div id="eddit-content">
      <div id="eddit-filter-container">
        <span>Popular In: </span>
        <select class="selectpicker">
          <option>United States</option>
          <option>Modor</option>
          <option>Nardia</option>
        </select>
        <span>Select State: </span>
        <select class="selectpicker">
          <option>New Jersey</option>
          <option>Bikini Bottom</option>
          <option>Gotham</option>
        </select>
      </div>
    <div id="sign-up-container">
      <form id="#sign-up-form">
        <div class="form-row">
          <div class="form-group col-s-6" id="email-form">
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-s-6" id="password-form">
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input inline" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            <button type="submit" class="btn btn-primary pull-right btn-xs">Login</button>
          </div>
        </div>
      </form>
    </div>
    <div id="ad-box">
      Please buy some ad space!
    </div>
    <div id="post-box">
      <ol id="eddit-ranks">
        <% @posts.each do |post| %>
          <li class="eddit-post-li">
              <div class="eddit-post">
                <div class="upvote-box">
                  <span class="glyphicon glyphicon-arrow-up"></span>
                  <span><%= number_to_human(post.score, :format => '%n%u', :units => {:thousand => 'K'})%></span>
                  <span class="glyphicon glyphicon-arrow-down"></span>
                </div>
                <div class="img-container">
                 <%= image_tag('64placeholder', :class => "align-self-center mr-3", :alt => "Generic placeholder image") %>
                </div>
                <div class="media-body">
                  <h5 class="mt-0"><a><%= post.title %></a></h5>
                  submitted <%= distance_of_time_in_words(post.timestamp,Time.now) %> ago by <a><%= post.username %></a> to <a>r/<%= post.subeddit.downcase %></a>
                  <ul>
                    <li><a>Comments (<%= post.num_comments %>)</a></li>
                    <li><a>share</a></li>
                    <li><a>save</a></li>
                    <li><a>hide</a></li>
                    <li><a>report</a></li>
                  </ul>
                </div>
            </div>
          </li>
         <% end %>
      </ol>
    View More: <%= will_paginate @posts, :page_links=>false %>
    </div>
  </div>
  <div id="eddit-footer" class="container">
    <div id="footer-links" >
      <div class="footer-box">
        <h5>about</h5>
        <ul>
          <li><a>blog</a></li>
          <li><a>about</a></li>
          <li><a>advertising</a></li>
          <li><a>careeers</a></li>
        </ul>
      </div>
      <div class="footer-box">
        <h5>help</h5>
        <ul>
          <li><a>site rules</a></li>
          <li><a>eddit help center</a></li>
          <li><a>eddiquette</a></li>
          <li><a>mod guidelines</a></li>
          <li><a>contact us</a></li>
          <li><a>mod guidelines</a></li>
          <li><a>contact us</a></li>
        </ul>
      </div>
      <div class="footer-box">
        <h5>App & Tools</h5>
        <ul>
          <li><a>eddit for iphone</a></li>
          <li><a>eddit for android</a></li>
          <li><a>mobile websites</a></li>
          <li><a>buttons</a></li>
        </ul>
      </div>
      <div class="footer-box">
        <h5><3</h5>
        <ul>
          <li><a>eddit gold :D</a></li>
          <li><a>edditgifts</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>