<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Rikipeida</title>
</head>

<body id="rikipeida-body">
  <div id="rikipeida-nav">
    <ul>
      <li class="header"><%= Faker::Lorem.word %></li>
      <% for i in 1..10 %>
        <li><a><%= Faker::Lorem.word %></a></li>
      <% end %>
    </ul>
    <ul>
      <% for i in 3..4 %>
        <li class="header"><%= Faker::Lorem.word %></li>
        <li><a><%= Faker::Lorem.word %></a></li>
      <% end %>
    </ul>
    <ul>
      <li class="header"><%= Faker::Lorem.word %></li>
      <% for i in 2..15 %>
        <li><a><%= Faker::Lorem.word %></a></li>
      <% end %>
    </ul>
    <ul>
      <li class="header"><%= Faker::Lorem.word %></li>
      <% for i in 2..5 %>
        <li><a><%= Faker::Lorem.word %></a></li>
      <% end %>
    </ul>

  </div>

  <div id="rikipeida-content">
    <div id="rikipeida-top-nav">
      <ul class="content-nav" id="nav-right">
        <li>Article</li>
        <li>Talk</li>
      </ul>
      <ul class="content-nav" id="nav-left">
        <li>Article</li>
        <li>Talk</li>
      </ul>
      <div class="clear"></div>
    </div>
    <div id="article-container">
      <%= render "rikipeida/card" %>
      <%= render "rikipeida/article" %>
    </div>
  </div>
</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>