<% for i in 1..10 %>
  <div class="feed-post">
    <div class="picture-container"><span class="glyphicon glyphicon-user"/></div>
    <div class="commit-summary">
      <div class=commit-info">
        <a><%= Faker::GameOfThrones.character %></a> pushed to <a><%= Faker::GameOfThrones.city %></a>
      </div>
      <div class="commit-messages">
        <% number_of_commennts = rand(1..10) %>
        <% max_comments = 4 %>
        <span><%= number_of_commennts %> commits pushed to <a><%= Faker::GameOfThrones.house %></a></span>
        <% for i in 1..([number_of_commennts,max_comments].min) %>
          <div>
            <span class="glyphicon glyphicon-user"></span><a><%= Faker::Lorem.characters 6 %></a><span><%= Faker::Lorem.sentence(rand(1..4)) %></span>
          </div>
        <% end %>
        <% if number_of_commennts > 4 %>
          <div>
            <a class="more-commits"><%= number_of_commennts -  max_comments %> more commits >></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>